<%- include("partials/header.ejs") %>

    <style>
            .section-a{
                background: url('../../public/take-quiz1.png');
                background-size: cover;
                height: 300px;
                box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
                border-radius: 15px;
            }
            .section-b{            
                background: url('../../public/take-quiz2.png');
                background-size: cover;
                height: 300px;
                box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
                border-radius: 15px;
            }
            a{
                font-size: 35px;
            }
            a:hover{
                text-decoration-line: none;
                color:#96e6a1;
                transition: 0.3s;
            }
    </style>
            <div>
                <a href="/past-questions?" >Hello</a>
            </div>
<%- include("partials/footer.ejs") %>